h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #000;
}

th {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

tr{
    border: 1px solid black;
}

td {
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr.blue-bg {
    background-color: blue;
}

tr.green-bg {
    background-color: green;
}
